@page "/"
@inject IBluetoothNavigator bluetoothNavigator
@inject ILogger<Index> logger
@using System.Text
@using System.Text.Json
@using System.Diagnostics
@using System.Text.Json.Serialization

<PageTitle>Index</PageTitle>

<h1>Hello, world!</h1>

<table>
    <tbody>
        <tr>
            <th>Device name</th>
            <td>@DeviceName</td>
        </tr>
        <tr>
            <th>SSID</th>
            <td><input @bind='Config.Ssid'></td>
        </tr>
        <tr>
            <th>Password</th>
            <td><input type="password" @bind='Config.Password'></td>
        </tr>
        @* TODO: Add client-side validation to these two. *@
        <tr>
            <th>NMEA Gateway</th>
            <td><input @bind='Config.Host'></td>
        </tr>
        <tr>
            <th>NMEA Gateway Port</th>
            <td><input @bind='Config.Port'></td>
        </tr>
    </tbody>
</table>

<button class="btn btn-primary" @onclick="Connect">Connect</button>
<button class="btn btn-primary" @onclick='GetConfig'>Get config from device</button>
<button class="btn btn-primary" @onclick='SendConfig'>Send config to device</button>
<button class="btn btn-primary" @onclick='ReconnectToWifi'>Reconnect to WiFi</button>


@code
{
    record class DeviceConfig
    {
        [JsonPropertyName("ssid")]
        public string? Ssid { get; set; }

        [JsonPropertyName("password")]
        public string? Password { get; set; }

        [JsonPropertyName("host")]
        public string? Host { get; set; }

        [JsonPropertyName("port")]
        public UInt32 Port { get; set; }
    }

    private DeviceConfig Config = new();

    const string SERVICE_UUID = "57bf47c8-8bf6-489f-b89b-109e9f892602";
    const string WIFI_RECONNECT_CHARACTERISTIC_UUID = "92996f42-419a-4162-8b70-96aa7a9d891e";
    const string SAVE_CONFIG_CHARACTERISTIC_UUID = "62c4e57d-e7df-4eec-884b-13587fa2f0bf";
    const string CONFIG_JSON_CHARACTERISTIC_UUID = "7c087fc6-5a7c-4aac-8cc2-ffc11799eb27";

    private Device? Device = null;

    protected string DeviceName => Device?.Name ?? "<disconnected>";

    protected async Task GetConfig()
    {
        var json = await GetCharacteristicValue(CONFIG_JSON_CHARACTERISTIC_UUID);
        // TODO: Handle more gracefully. By  which I mean gracefully at all.
        Debug.Assert(json != null);
        var config = JsonSerializer.Deserialize<DeviceConfig>(json);
        // TODO: Same here as well.
        Debug.Assert(config != null);
        Config = config;
        StateHasChanged();
    }

    protected async Task SendConfig()
    {
        var json = JsonSerializer.Serialize(Config);
        await SetCharacteristicValue(CONFIG_JSON_CHARACTERISTIC_UUID, json);
        await SaveConfigToCard();
        await ReconnectToWifi();
    }

    protected async Task ReconnectToWifi()
    {
        // FIXME: if device is null, do something sensible here. Using ! is
        //        wrong.
        logger.LogInformation("Reconnecting to WiFi...");
        await Device!.WriteValueAsync(SERVICE_UUID, WIFI_RECONNECT_CHARACTERISTIC_UUID, Array.Empty<byte>());
    }

    protected async Task SaveConfigToCard()
    {
        // FIXME: if device is null, do something sensible here. Using ! is
        //        wrong.
        logger.LogInformation("Saving config to SD card...");
        await Device!.WriteValueAsync(SERVICE_UUID, SAVE_CONFIG_CHARACTERISTIC_UUID, Array.Empty<byte>());
    }

    protected async Task Connect()
    {
        @* TODO: Figure out why filtering doesn't work here. *@
        var query = new RequestDeviceQuery
        {
            AcceptAllDevices = true,
            OptionalServices = new List<string>
            {
                SERVICE_UUID
            }
        };
        var device = await bluetoothNavigator.RequestDeviceAsync(query);
        logger.LogInformation("Got device, I think? Id = {Id}, Name = {Name}", device.Id, device.Name);
        Device = device;

        await GetConfig();
    }

    private async Task<string?> GetCharacteristicValue(string uuid)
    {
        if (Device == null) return null;

        logger.LogInformation("Trying to get value for characteristic {Uuid}.", uuid);
        var value = Encoding.UTF8.GetString(await Device.ReadValueAsync(SERVICE_UUID, uuid));
        logger.LogInformation("Got value for characteristic {Uuid}: {Value}.", uuid, value);
        return value;
    }

    private async Task SetCharacteristicValue(string uuid, string value)
    {
        // TODO: Fail if device is null!
        var str = Encoding.UTF8.GetBytes(value);
        logger.LogInformation("Trying to set value for characteristic {Uuid} to {Value}.", uuid, str);
        await Device!.WriteValueAsync(SERVICE_UUID, uuid, str);
    }

}